
.header{
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content:space-between ;


}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background-image: url("../../img/logo1-removebg-preview.png");
    background-size: cover;
    background-position: center;
}

.logout {


}